body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row1 {
    flex: 1;
    background-color: lightblue;
}

.row2 {
    display: flex;
    flex: 3;
}

.row3 {
    flex: 1;
    background-color: lightblue;
}

.content1 {
    flex: 1;
    background-color: violet;
}

.content2 {
    background-color: green;
    flex: 3;
}

.content3 {
    flex: 1;
    background-color: lightyellow;
}

/* Media Queries */
@media (max-width: 768px) and (min-width: 360px) {
    .row2 {
        flex: 5;
        flex-wrap: wrap;
    }
    .content1 {
        order: 1;
        flex: none;
    }

    .content2 {
        height:50%;
        width: 100vw;
        flex: none;
        order: 3;
    }

    .content3 {
        height: 50%;
        width: 50vw;
        flex: none;
        order: 2;
    }
}

@media (max-width: 360px) {
    .row2 {
        flex: 8;
        flex-wrap: wrap;
        flex-direction: column;
    }
}